body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"], input[type="file"] {
    padding: 10px;
    margin: 10px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.card {
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

.card h2 {
    margin: 10px 0;
    color: #ffffff;
    font-size: 24px;
}

#card-name {
    color: red;
}

.message {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.footer {
    margin-top: 15px;
    color: #ffffff;
    font-size: 16px;
}



.dark-mode .card {
    background: linear-gradient(90deg, #444, #555);
}
